
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 19px;
  text-decoration: underline;
}

li a:hover {
  background-color: #fff;
}

img{
  width: 22%
}

ul {
  border: 1px solid #f8f8ff;
  background-color: #000000;
}

li a {
  color: #EE82EE;
}
p {
  font-family: 'Lemonada';font-size: 18px;
}
body {
  background-image: url("sunset.jpg");
}
h1 {
  color: dodgerblue;
  margin-left: 1px;
}
