/* css code starts here*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



li {
  float: left;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 19px;
  text-decoration: underline;
}


li a:hover {
  background-color: #fff;
}


img{
  width: 20%
}

ul {
  border: 1px solid #f8f8ff;
  background-color: #000000;
}

li a {
  color: #EE82EE;
}

p {
  font-family: 'Lemonada';font-size: 18px;
}

/* Image adjustments start here*/

img {
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Image adjustments end here*/


/* Images start here*/
.body1{
  background-image: url("tree.jpg");
}

.body2{
  background-image: url("sun1.jpg");
}

.body3{
  background-image: url("sun2.jpg");
}

.body4{
  background-image: url("sunset.jpg");
}
/* Images end here*/

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.hidden{
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

img {
  border: 5px solid black;
}

h3 {
  border: 4px solid black;
}

div {
  border: double;
}
/* css code ends here*/
