
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



li {
  float: left;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 19px;
  text-decoration: underline;
}


li a:hover {
  background-color: #fff;
}


img{
  width: 20%
}

ul {
  border: 1px solid #f8f8ff;
  background-color: #000000;
}

li a {
  color: #EE82EE;
}
p {
  font-family: 'Lemonada';font-size: 18px;
}

img {
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}
.body1{
  background-image: url("tree.jpg");


}
.body2{
  background-image: url("sun1.jpg");
}
.body3{
  background-image: url("sun2.jpg");
}
.body4{
  background-image: url("sunset.jpg");
}
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
.hidden{
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.flex-container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-around;
}
